<%= form_for(@paciente, html: {role: "form"}) do |f| %>
  <%= render "comum/erro", model: @paciente %>

  <div class="actions">
    <button name="acao" type="submit" class="btn btn-primary" value="salvar">Salvar</button>
    <button name="acao" type="submit" class="btn btn-primary" value="salvar_e_novo">Salvar e Novo</button>
    <%= link_to "Cancelar", pacientes_path, class: "btn btn-danger" %>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group has-feedback">
        <label>Nome</label>
        <%= f.text_field :nome, class: "form-control" %>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="checkbox">
        <label>
          <%= f.check_box :ativo %>
          Ativo
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <label>Sexo</label>
      <div class="radio">
        <label>
          <%= f.radio_button :sexo, 'M'%>
          Masculino
        </label>
        <label>
          <%= f.radio_button :sexo, 'F'%>
          Feminino
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>Data nascimento</label>
        <%= f.text_field :data_nascimento, 'data-behaviour' => 'datepicker', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <button name="acao" type="submit" class="btn btn-primary" value="salvar">Salvar</button>
    <button name="acao" type="submit" class="btn btn-primary" value="salvar_e_novo">Salvar e Novo</button>
    <%= link_to "Cancelar", pacientes_path, class: "btn btn-danger" %>
  </div>
<% end %>

<script>
  formatar_data()
</script>
