<%= simple_form_for(@pacient, wrapper: :vertical_form) do |f| %>
  <%= render "comum/erro", model: @paciente %>

  <div class="actions">
    <button name="acao" type="submit" class="btn btn-primary" value="salvar">Salvar</button>
    <button name="acao" type="submit" class="btn btn-primary" value="salvar_e_novo">Salvar e Novo</button>
    <%= link_to "Cancelar", pacientes_path, class: "btn btn-danger" %>
  </div>
  <br>
  <%= f.input :nome %>

  <%= f.input :ativo, as: :select, prompt: false %>
  <%= f.select :sexo, ['M', 'F']%>
  <%= f.input :data_nascimento, 'data-behaviour' => 'datepicker', class: "form-control" %>

  <div class="actions">
    <button name="acao" type="submit" class="btn btn-primary" value="salvar">Salvar</button>
    <button name="acao" type="submit" class="btn btn-primary" value="salvar_e_novo">Salvar e Novo</button>
    <%= link_to "Cancelar", pacientes_path, class: "btn btn-danger" %>
  </div>
<% end %>

<script>
  formatar_data()
</script>
